.outgoingMessage {
  align-self: flex-end;
  color: white;
  margin-right: 63px;
  margin-bottom: 8px;
  padding: 7px 9px 7px 9px;
  background-color: #015C4B;
  border-radius: 10px;
  font-size: 14px;
}