.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.inner {
  display: flex;
  justify-content: center;
  padding: 15px 0 25px 0;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #04A784;
  max-width: 390px;
  width: 100%;
}

.headerTitle {
  color: #E9EDEF;
  margin-bottom: 43px;
}

.inputBlock {
  position: relative;
  width: 70%;
  margin-bottom: 25px;
}

.error {
  position: absolute;
  color: red;
  font-size: 14px;
  top: 113px;
  left: 2px;
}

.startButton {
  width: 70%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  background-color: #1F2C33;
  color: #04A784;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #1f2c336a;
}

